<div class="icon-text-section">
<div class="page-width">
{% if section.settings.title != blank %}
<div class="icon-text-title">
{% if section.settings.sub_title != blank %}
<h3>{{ section.settings.sub_title }}</h3>
{% endif %}
{% if section.settings.title != blank %}
<h2>{{ section.settings.title }}</h2>
{% endif %}
</div>
{% endif %}
<div class="icon-text">
{% for block in section.blocks %}
{% if block.settings.title != blank and block.settings.desc != blank and block.settings.image != blank %}
<div class="icon-text-wrap">
<figure><img src="{{ block.settings.image | img_url: 'master' }}" /></figure>
<h4>{{ block.settings.title }}</h4>
<p>{{ block.settings.desc }}</p>
</div>
{% endif %}
{% endfor %}
</div>
</div>
</div>

{% schema %}
{
  "name": "Icon Text",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Heading"
    }
  ],
  "blocks": [
    {
        "type": "Icon",
        "name": "Icon",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Heading"
            },
            {
                "type": "textarea",
                "id": "desc",
                "label": "Description"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "Icon Text",
      "category": "Icon Text"
    }
  ]
}
{% endschema %}